Flask==2.3.2
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
Flask-Mail==0.9.1
Flask-SocketIO==5.3.2
Flask-Uploads==0.2.1
Flask-Compress==1.14
Werkzeug==2.3.4
celery==5.3.0
redis==4.5.4
eventlet==0.33.3
